.list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    margin: 2rem auto;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgb(0 0 0 / 7%);
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    list-style: none;
}

.question-list-item {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #eee;
}