* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #222;
    background: #fafafa;
}